# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
.env/
venv/
ENV/

# PyInstaller
build/
dist/
installer/
*.spec

# Databases
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Others
exports/
tmp_reports/
main.py